---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=3220%20N%20Williams%20St.%20Denver%20CO%2080205&key=AIzaSyAH_f2IIgiBBvM68aAX7kWbV5uBDsDBoCw
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Denver, CO
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "3220",
                       "short_name" : "3220",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "North Williams Street",
                       "short_name" : "N Williams St",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Cole",
                       "short_name" : "Cole",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                       "lo[...]
